.project-title {
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 40px;
    font-family: "Jost", sans-serif;
}
.scroll-container {
    overflow-x: auto;
    display: flex;
    padding: 10px 0;
    gap: 20px;
    -webkit-overflow-scrolling: touch;
}
.list-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0 0 0 10px;
    list-style: none;
}
.title-card {
    display: flex;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50%;
    height: auto;
    padding: 20px;
    gap: 10px;
    background: linear-gradient(
        to top left,
        rgb(156, 224, 174),
        rgba(94, 179, 100, 0.824)
    );
    border-radius: 18px;
}

.nameproj-cont {
    font-weight: 700;
    font-style: italic;
    width: 75%;
    font-size: 15px;
}
.descrip-cont {
    font-size: 14px;
}
.feature-cont {
    font-size: 14px;
}
.listproject-icon {
    width: 20px;
}
.techs-cont {
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
}
.tech-icon {
    width: 10%;
    margin-right: 15px;
    padding-left: 15px;
}
.website-cont {
    width: 25%;
}
.git-icon {
    width: 25%;
    margin: 0 10px 0 0;
}
.project-image {
    width: 75%;
    position: relative;
    z-index: -1;
}
@media screen and (min-width: 736px) {
    .list-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .descrip-cont {
        font-size: 14px;
    }
    .feature-cont {
        font-size: 14px;
    }
    .card {
        width: 40%;
        height: auto;
    }
    .website-cont {
        font-size: 16px;
    }
    .nameproj-cont {
        font-size: 18px;
    }
    .tech-icon {
        height: 70%;
    }
    .list-container {
        justify-content: center;
    }
}
